import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

SECRET_KEY = '{{ django_key.stdout_lines[0] }}'

GH_CLIENT_ID = '{{ gh_client_id }}'
GH_CLIENT_SECRET = '{{ gh_client_secret }}'

GL_CLIENT_ID = '{{ gl_client_id }}'
GL_CLIENT_SECRET = '{{ gl_client_secret }}'


ES_IN_HOST = '{{es_container_name}}'
ES_IN_PORT = '{{es_port}}'
ES_IN_PROTO = '{{es_protocol}}'

ES_ADMIN_PSW = '{{ es_admin_password }}'

KIB_IN_HOST = '{{kibana_container_name}}'
KIB_IN_PORT = '{{kibana_in_port}}'
KIB_IN_PROTO = '{{kibana_in_protocol}}'
KIB_PATH = '{{kibana_path}}'
KIB_OUT_URL = 'https://{{ ansible_ssh_host|default(ansible_host) }}:{{app_port}}{{kibana_path}}'

DEBUG = '{{ django_debug }}'

ALLOWED_HOSTS = [ '{{ django_hosts }}' ]

INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'CauldronApp',
]

MIDDLEWARE = [
    'django.middleware.security.SecurityMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
]

ROOT_URLCONF = 'Cauldron2.urls'

TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'DIRS': [],
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
                'django.template.context_processors.debug',
                'django.template.context_processors.request',
                'django.contrib.auth.context_processors.auth',
                'django.contrib.messages.context_processors.messages',
            ],
        },
    },
]

WSGI_APPLICATION = 'Cauldron2.wsgi.application'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ db_django_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_password }}',
        'HOST': '{{ db_container_name }}',
        'PORT': '{{ db_port }}',
        'OPTIONS': {
            'sql_mode': 'traditional'
        }
    }
}

AUTH_PASSWORD_VALIDATORS = [
    {
        'NAME': 'django.contrib.auth.password_validation.UserAttributeSimilarityValidator',
    },
    {
        'NAME': 'django.contrib.auth.password_validation.MinimumLengthValidator',
    },
    {
        'NAME': 'django.contrib.auth.password_validation.CommonPasswordValidator',
    },
    {
        'NAME': 'django.contrib.auth.password_validation.NumericPasswordValidator',
    },
]

LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'UTC'

USE_I18N = True

USE_L10N = True

USE_TZ = True


STATIC_URL = '/static/'
