---
# Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License").
# You may not use this file except in compliance with the License.
# A copy of the License is located at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# or in the "license" file accompanying this file. This file is distributed
# on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
# express or implied. See the License for the specific language governing
# permissions and limitations under the License.

# Description:
# Default Kibana configuration from kibana-docker.

server.name: kibana
server.host: "0"
server.basePath: "{{kibana_path}}"
server.rewriteBasePath: true

kibana.defaultAppId: "dashboard/8c34bc50-a2fe-11e9-ac51-1516462fb85e"

elasticsearch.hosts: https://{{ es_container_name }}:{{ es_port }}
elasticsearch.ssl.verificationMode: none
elasticsearch.ssl.certificateAuthorities: ["/usr/share/kibana/config/root-ca.pem"]
elasticsearch.username: kibanaserver
elasticsearch.password: {{es_kibanaserver_password}}
elasticsearch.requestHeadersWhitelist: ["securitytenant","Authorization"]

server.ssl.enabled: false
#server.ssl.certificate:  /usr/share/kibana/config/kibana.pem
#server.ssl.key:  /usr/share/kibana/config/kibana-key.pem
#server.ssl.keyPassphrase: ""

opendistro_security.multitenancy.enabled: true
opendistro_security.multitenancy.tenants.preferred: ["Private"]
opendistro_security.readonly_mode.roles: ["kibana_read_only"]

# opendistro_security.cookie.secure: true
# opendistro_security.cookie.password:

opendistro_security.auth.type: "jwt"
opendistro_security.jwt.url_param: jwtToken