[general]
short_name = Grimoire
update = false
min_update_delay = 10
debug = true
# /var/log/mordred/
logs_dir = logs
# Number of items per bulk request to Elasticsearch
bulk_size = 100
# Number of items to get from Elasticsearch when scrolling
scroll_size = 100
menu_file = ./menu.yml
aliases_file = mordred/aliases.json

[projects]
projects_file = ./projects.json

[es_collection]
arthur = true
arthur_url = https://grimoirelab_service:8080
redis_url = redis://grimoirelab_service/8
url = https://admin:{{es_admin_password}}@{{es_container_name}}:{{es_port}}

[es_enrichment]
url = https://admin:{{es_admin_password}}@{{es_container_name}}:{{es_port}}

[sortinghat]
host = {{ db_container_name }}
user = {{ db_user }}
password = {{ db_password }}
database = {{ db_sortinghat_name }}
load_orgs = true
orgs_file = data/orgs_sortinghat.json
identities_api_token = 'xxxx'
identities_file = [data/perceval_identities_sortinghat.json]
affiliate = true
# commonly: Unknown
unaffiliated_group = Unknown
autoprofile = [customer,git,github]
matching = [email]
sleep_for = 120
# sleep_for = 1800
bots_names = [Beloved Bot]

[panels]
kibiter_time_from= "now-30y"
kibiter_default_index= "github"
kibiter_url = https://grimoirelab_service:5601
community = true
gitlab-issues = true
gitlab-merges = true

[phases]
collection = true
identities = true
enrichment = true
panels = true

[git]
raw_index = git_raw
enriched_index = git_enrich
latest-items = true
category = commit
studies = [enrich_demography:git, enrich_areas_of_code:git, enrich_onion:git]

[github]
api-token = key_needed
raw_index = github_raw
enriched_index = github_enrich

[github:issue]
raw_index = github_issues_raw
enriched_index = github_issues_enriched
api-token = key_needed
sleep-for-rate = false
no-archive = true
category = issue
sleep-time = 300

[github:pull]
raw_index = github_pulls_raw
enriched_index = github_pulls_enriched
api-token = key_needed
sleep-for-rate = false
no-archive = true
category = pull_request
sleep-time = 300
studies = [enrich_onion:github]

[enrich_demography:git]
date_field = utc_commit
author_field = author_uuid

[enrich_areas_of_code:git]
#no_incremental = true
in_index = git_raw
out_index = git_aoc_enriched

[enrich_onion:git]
in_index = git_enriched
out_index = git_onion_enriched
contribs_field = hash
no_incremental = false

[enrich_onion:github]
#no_incremental = true
in_index_iss = github_issues_enriched
in_index_prs = github_pulls_enriched
out_index_iss = github_issues_onion_enriched
out_index_prs = github_prs_onion_enriched
data_source_iss = github-issues
data_source_prs = github-prs

[jenkins]
raw_index = jenkins_test-raw
enriched_index = jenkins_test

[gitlab]
raw_index = gitlab_raw
enriched_index = gitlab_enriched
api-token = unknown
no-archive = true
sleep-for-rate = false
is-oauth-token = true

[gitlab:merge]
raw_index = gitlab_merge_raw
enriched_index = gitlab_merge_enriched
api-token = unknown
no-archive = true
category = merge_request
sleep-for-rate = false
